#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9 {
    border: 4px solid #000;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.row{
    height: auto;
    width: auto;
    text-align: left;
}

body{
    text-align: center;
}